main#site-main {
  width: 100%;
  flex: 1 0 auto;
}

#page-container {
  min-height: 50vh;
  /* Ensures full-bleed page sections can override container padding */
  padding-top: 0;
  padding-bottom: 0;
}
